@import '../../styles/theme';

.hero {
    @extend %l-wrapper;
    position: relative;
}

.hero__container {
    @extend %l-container;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 600px) {
        flex-flow: row;
        margin-bottom: 48px;
    }
}

.hero__headline {
    @include fs-mega-h1;
    margin-bottom: 1rem;
}

.strikethrough {
    text-decoration: line-through;
}