@import '../../styles/theme';

.hero {
    @extend %l-wrapper;
    position: relative;
}

.hero__container {
    @extend %l-container;
    margin-bottom: 3rem;
}

.hero__headline {
    @include fs-mega-h1;
    margin-bottom: 2rem;
}

.hero__subheadline,
.hero__contact {
    margin-bottom: 1.5rem;
}

.hero__subheadline {
    max-width: 37.5rem;
}

.hero__contact {
    @include fs-body;
    max-width: 25rem;
}

.strikethrough {
    text-decoration: line-through;
}