@import '../../styles/theme';

.hero {
    @extend %l-wrapper;
}

.hero__container {
    @extend %l-container;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 680px) {
        flex-flow: row;
    }
}
 
.hero__text {
    max-width: 840px;
    @media screen and (min-width: 680px) {
        padding-right: 60px;
        width: 65%;
    }
}

.hero__headline {
    margin-bottom: 1em;
}

.hero__headline {
    font-weight: 500;
}

.hero__graphic-wrapper {
    position: relative;
    width: 100%;
    max-width: 340px;

    @media screen and (min-width: 680px) {
        width: 35%;
    }
}

.hero__graphic {
    width: 100%;
    height: auto;
    &:last-child {
        position: absolute;
        top: 0;
        left: 0;
    }
}