@mixin btn-reset {
	position: relative;
	padding: 0.5em 1em;
	border-radius: 2px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:disabled {
		cursor: default;
	}
}