$base: 8px;

%l-wrapper {
    padding: 0 20px;

    @media screen and (min-width: 500px) {
        padding:  0 48px;
    }
}

%l-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

