$t-tablet: 750px;
$t-desktop: 1000px;

// Mixins fort type
@mixin gt-tablet {
	@media (min-width: #{$t-tablet}) {
		@content;
	}
}
@mixin gt-desktop {
	@media (min-width: #{$t-desktop}) {
		@content;
	}
}

%text-link {
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $c-blue;
    }
}

h1,
.h1 {
    font-size: 2rem;
    line-height: 1.25;

    @include gt-tablet {
        font-size: 2.25rem;
        line-height: 1.125;
    }

    // @include gt-desktop {
    //     font-size: 3rem;
    //     line-height: 1.05;
    // }
}

