@import 'theme';
@import 'normalize';

@include font-face('Atlas Grotesk Web', '/fonts/AtlasGrotesk-Regular-Web', 400);
@include font-face('Atlas Grotesk Web', '/fonts/AtlasGrotesk-Medium-Web', 500);
@include font-face('Canela Deck Web', '/fonts/CanelaDeck-Black-Web', 900);

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

html {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Atlas Grotesk Web', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 100%;
  font-feature-settings: "kern" on;
  color: $c-body;
  background-color: $c-off-white;
  
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

strong {
  font-weight: 500;
}

