@import '../../styles/theme';

.header {
    @extend %l-wrapper;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 500px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.header__link {
    @extend %text-link;
    opacity: 0.6;
    transition: opacity 300ms ease;

    &:hover {
        opacity: 1;
    }
}