@import '../../styles/theme';

.header {
    @extend %l-wrapper;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;

    @media screen and (min-width: 500px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 1220px) {
        margin-bottom: 1rem;
    }
}

.header__title {
    font-weight: $font-weight-medium;
}

.header__link {
    @extend %text-link;
    opacity: 0.6;
    transition: opacity 300ms ease;

    &:hover {
        opacity: 1;
    }
}