@import '../../styles/theme';

.footer {
    @extend %l-wrapper;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    border-top: 1px solid #EBEBEB;
}

.footer__text {
    @include fs-caption;
    margin-bottom: 1rem;
    &.full-width {
        flex: 1 0 100%;
        width: 100%;
    }
}

.footer__link {
    @extend %text-link;
    opacity: 0.6;
    transition: opacity 300ms ease;

    &:hover {
        opacity: 1;
    }
}